%p
  = link_to "I'm available", game_game_player_change_status_url(@game_player.game, @game_player, status: :available)
%p
  = link_to "I'm unavailable", game_game_player_change_status_url(@game_player.game, @game_player, status: :unavailable)