.row
  .span12
    .home-unit
      .span8.offset2
        /= image_tag "home.png"
        .blurb
          %h3 Organising this stuff is a pain. 
          %h3 Let us help you out. 
          %h3 We can help organise your sports team fixtures to make everything flow so much more smoothly. 
.row
  .span4
    .grassleft
    %h4 Football
    %p Jumpers for Goalposts? Striding out onto Wembley's hallowed turf...
    %p
      %a.btn{:href => "#"} View details &raquo;
  .span4
    .grasscentre
      /=image_tag "thumb_2.png", :alt => "image"
    %h4 Cricket
    %p Ah! The crack of leather on willow
    %p
      %a.btn{:href => "../teams/new"} View details &raquo;
  .span4
    .grassright
      =image_tag "thumb_3.png", :alt => "image"
    %h4 Rugby
    %p For those weekends when nothing compares to pissing in your mate's beer...
    %p
      %a.btn{:href => "#"} View details &raquo;
%hr.h-edge/
/ <!--      %footer
/         %p.pull-left &copy; Copyright Holder 2012
/         %p.pull-right
/           Developed by
/           %a{:href => "http://www.eamdevelopers.com/"} eAM Developers
/     / JS Placed at the end of the document so the pages load faster
/     %script{:src => "js/bootstrap.js"}
/     %script{:src => "js/jquery.js"}
/ -->