%h1 Listing games

%table.table-striped
  %tr
    %th Location
    %th Time
    %th Date
    %th
    %th
    %th

  - @games.each do |game|
    %tr
      %td= link_to game.location, game
      %td= game.time.strftime("%H:%M")
      %td= game.date
%br
= link_to 'New Game', new_game_path, :class => 'btn btn-primary'
