%tr
  %td
    = gameplayer.player.name
  %td
    = link_to '<-', game_game_player_change_status_url(gameplayer.game, gameplayer, status: :available), {:class => 'btn btn-primary btn-mini'}
    = link_to '<-', game_game_player_change_status_url(gameplayer.game, gameplayer, status: :unavailable), {:class => 'btn btn-danger btn-mini'}
    = link_to 'X', game_game_player_path(gameplayer.game, gameplayer), {:confirm => "Are you sure you want to delete this player?", :method => :delete, :class => 'btn btn-mini'}