.pull-left
  %a.logo
    =image_tag "logo.png", :alt => "logo"
%nav.navbar.pull-right
  %ul.nav
    %li.active
      %a{:href => "."} Home
    %li
      %a{:href => "about.html"} About Us
    %li
      %a{:href => "portfolio.html"} Portfolio
    %li
      %a{:href => "blog.html"} Weblog
    %li
      %a{:href => "contact.html"} Contact Us
    - if user_signed_in?
      %li
        = link_to 'Logout', destroy_user_session_path, :method=>'delete'
    - else
      %li
        = link_to 'Login', new_user_session_path
    - if user_signed_in?
      %li
        = link_to 'Edit account', edit_user_registration_path
    - else
      %li
        = link_to 'Sign up', new_user_registration_path
